* {
    background-color: #d9e7e8;
}
li {
    list-style: none;
}
main {
    margin: 0 10%;
    padding-top: 9%;
}
// なびばー
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    padding: 1em 0;
    a:hover {
        text-decoration: none;
    }
    .nav-left {
        flex: 1;
    }
    .nav-right {
        display: flex;
    }
}

// Publicコンテンツ
#Public {
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}