// からー
$light-blue: #d9e7e8;
$dark-blue: #2a4446;
$light-yellow: #eabb56;
$light-pink: #f1e1d9;
$coral-pink: #ec9c85;

// ぐろーばる
* {
    background-color: $light-blue;
}
li {
    list-style: none;
}
main {
    margin: 0 10%;
    padding-top: 9%;
}
a{
    &:hover {
        text-decoration: none;
    }
    ._cL4RU:hover {
        color: $coral-pink !important; //リンクホバーした時
    }
}
// クロームの補完機能の背景色が変わらないようにするやつ
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s !important;
}

// なびばー
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    padding: 1em 0;
    .nav-left {
        flex: 1;
    }
    .nav-right {
        display: flex;
    }
}

// ぱぶりっく
#Public {
    max-width: 60%;
    margin: 0 auto;
    .cardContents {
        padding-top: 3em;
        min-height: 25em;
        h4, h6, p {
            margin-bottom: 1em;
        }
        p {
            color: $dark-blue;
        }
    }
    .contents-left {
        float: left;
        position: relative;
        .cardContents {
            .sns {
                margin-top: 1em;
                display: flex;
                justify-content: space-around;
                a div {
                    color: $light-yellow;
                }
                svg {
                    background-color: unset;
                }
            }
        }
        .cardAvatar {
            width: 7em;
            height: 7em;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -50px;
            left: 6px;
            .ayumiAvatar {
                width: 6em;
                height: 6em;
                img {
                    width: 6.5em;
                    height: 6.5em;
                }
            }
        }
    }
    .contents-right {
        float: right;
        text-align: center;
        a {
            margin-top: 1em;
        }
    }
}

// ろぐいんがめん
#Login, #Signup {
    display: flex;
    justify-content: center;
    .cardForm {
        padding: 3em;
        min-width: 50%;
        text-align: center;
        .input, .alert, .button{
            margin-bottom: 2em;
        }
        .alert {
            div {
                font-size: 13px;
                padding-left: unset;
                &.alertSuccess div {
                    font-size: initial;
                    text-align: initial;
                }
            }
        }
        input{
            width: 100%;
        }
    }
}