* {
  background-color: #d9e7e8;
}

li {
  list-style: none;
}

main {
  margin: 0 10%;
  padding-top: 3em;
}

a:hover {
  text-decoration: none;
}

a ._cL4RU:hover {
  color: #ec9c85 !important;
}

h1 {
  font-size: 50px !important;
}

h2 {
  font-size: 45px !important;
}

h3 {
  font-size: 40px !important;
}

input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10%;
  padding: 1em 0;
}

nav .nav-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-right li {
  margin-right: 1em;
}

#Public {
  max-width: 60%;
  margin: 0 auto;
}

#Public .cardContents {
  padding-top: 3em;
  min-height: 25em;
}

#Public .cardContents h4, #Public .cardContents h6, #Public .cardContents p {
  margin-bottom: 1em;
}

#Public .cardContents p {
  color: #2a4446;
}

#Public .contents-left {
  float: left;
  position: relative;
}

#Public .contents-left .cardContents .sns {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#Public .contents-left .cardContents .sns a div {
  color: #eabb56;
}

#Public .contents-left .cardContents .sns svg {
  background-color: unset;
}

#Public .contents-left .cardAvatar {
  width: 7em;
  height: 7em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -50px;
  left: 6px;
}

#Public .contents-left .cardAvatar .ayumiAvatar {
  width: 6em;
  height: 6em;
}

#Public .contents-left .cardAvatar .ayumiAvatar img {
  width: 6.5em;
  height: 6.5em;
}

#Public .contents-right {
  float: right;
  text-align: center;
}

#Public .contents-right a {
  margin-top: 1em;
}

#Login, #Signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Login .cardForm, #Signup .cardForm {
  padding: 3em;
  min-width: 50%;
  text-align: center;
}

#Login .cardForm .input, #Login .cardForm .alert, #Login .cardForm .button, #Signup .cardForm .input, #Signup .cardForm .alert, #Signup .cardForm .button {
  margin-bottom: 2em;
}

#Login .cardForm .alert div, #Signup .cardForm .alert div {
  font-size: 13px;
  padding-left: unset;
}

#Login .cardForm input, #Signup .cardForm input {
  width: 100%;
}

#AddReflection section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#AddReflection section .item {
  min-width: 45%;
}

#AddReflection section .item:nth-child(odd) {
  margin-right: 1em;
}

#AddReflection section .item:last-child {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#AddReflection section .item h5 {
  padding: 0.5em 0;
}

#AddReflection section .item textarea {
  width: 100%;
  height: 12em;
  resize: none;
  padding: 1em;
}

#BoardUser h1 {
  padding-bottom: 0.5em;
}

#BoardUser section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#BoardUser section .contents {
  min-width: 30%;
}

#BoardUser section .contents h5 {
  padding-bottom: 1em;
}

#BoardUser section .contents h6 {
  padding-bottom: 0.5em;
}

#BoardUser section .contents p {
  padding-bottom: 2em;
  color: #2a4446;
}

#BoardUser section .contents ul {
  color: #2a4446;
}

#BoardUser section .contents ul li {
  padding: 12px 16px;
}

#BoardUser section .contents ul li.active {
  color: #ec9c85;
  border-radius: 4px;
  -webkit-box-shadow: inset -2px -2px 3px #fff, inset 2px 2px 3px #7B9FA2;
          box-shadow: inset -2px -2px 3px #fff, inset 2px 2px 3px #7B9FA2;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
